.scrollable-container {
  max-height: 500px; /* Set a fixed vertical size */
  overflow-y: auto; /* Make it scrollable */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  padding: 10px; /* Optional: Add padding for better spacing */
}

.date-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0; /* Add margin at the bottom for spacing */
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Add gap between date items */
}

.date-list-item {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.date-list-item:hover {
  background-color: #e0e0e0;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.content-container-horizontal {
  display: flex;
  overflow: hidden;
  height: 100vh;
  flex-direction: row;
}

.MapComponent {
  flex-grow: 1;
  overflow: hidden;
}

.SelectionComponentGallery {
  overflow: auto;
  border-top: 1px solid #ccc; /* Optional: for visual separation */
}

.resize-handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  cursor: row-resize;
  background-color: #ccc; /* Optional: for visual indication */
}
.custom-handle {
  height: 10px;
  cursor: row-resize;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  position: relative;
}

/* Form container */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Open modal button */
.open-modal-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.open-modal-button:hover {
  background-color: #0056b3;
}

/* Close modal button */
.close-modal-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.close-modal-button:hover {
  background-color: #c82333;
}

.scrollmenu {
  overflow-x: scroll; /* Ensure the scrollbar is always visible */
  white-space: nowrap;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #e0e0e0; /* For Firefox */
}

.scrollmenu::-webkit-scrollbar {
  height: 12px; /* Adjust the height of the scrollbar */
}

.scrollmenu::-webkit-scrollbar-track {
  background: #e0e0e0; /* Background of the scrollbar track */
}

.scrollmenu::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #e0e0e0; /* Padding around the thumb */
}

.scrollmenu ul {
  display: inline-flex;
}

.scrollmenu li {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: black; /* Ensure text color is black */
  flex-shrink: 0; /* Prevent shrinking */
  font-size: large;
}

.scrollmenu li:hover {
  background-color: #777;
  color: white;
}
